html, body {
  margin: 0px;
  padding: 0px;
}

#editor {
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;

  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  background: black;
  z-index: 0;
}

#glcanvas {
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;

  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  background: black;
  z-index: 0;
}

#status {
  bottom: 20px;
  right: 20px;
  height: 24px;

  position: absolute;
  color: #dddddd;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
}
