html, body {
  margin: 0px;
  padding: 0px;
  background: black;
  color: #d4d4d4;
  font-family: 'Roboto', sans-serif;
}

#editor {
  top: 40px;
  left: 0;
  bottom: 0px;
  width: 80ch;

  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  background: black;
  z-index: 0;
}

#glcanvas {
  top: 40px;
  left: 80ch;
  width: calc(100% - 80ch);
  height: calc(100% - 40px);

  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  background: black;
  z-index: 0;
  visibility: hidden;
}

#status {
  bottom: 20px;
  right: 20px;
  height: 24px;

  position: absolute;
  color: #dddddd;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
}

#toolbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;

  position: absolute;
  overflow: hidden;

  background-color: #1e1e1e;
  color: #d4d4d4;
  border-bottom: 1px solid rgba(191, 191, 191, .4);;
}

.toolbar-elem {
  margin: 10px;
}

.title {
  font-size: 24px;
  font-family: 'Share Tech Mono', monospace;
  font-feature-settings: "liga" 0, "calt" 0;
  float: left;
}

.right {
  float: right;
}

code {
  font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
  color: #d4ffd4;
}

a:link {
  color: #d4d4ff;
}

a:visited {
  color: #d4d4ff;
}

a:hover {
  color: #d4ffff;
  text-decoration: underline;
  cursor: pointer;
}

#overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  visibility: hidden;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
}

.inner-overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  padding: 20px;

  visibility: hidden;
  overflow: auto;
  background-color: black;
  border: 1px solid rgba(191, 191, 191, .4);
}

#splash-overlay {
  text-align: center;
}

#mission-complete-overlay {
  text-align: center;
}

.leaderboard table, th, td {
  border: 1px solid rgba(191, 191, 191, 1.0);
  border-collapse: collapse;
}

.leaderboard th, td {
  padding: 10px;
}

#leaderboards {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#time-leaderboard {
  float: left;
}

#code-size-leaderboard {
  float: right;
}

.errorDecoration {
  background-color: #881e1e;
}
